:root {
    --first-color-text: #000;
    --second-color-text: #4285f4;
    --third-color-text: #434455;
    --fourth-color-text: #2e2f42;
    --fifth-color-text: #f4f4fd;
    --color-white: #ffffff;
    --iris: #4D5AE5;
    --focus-color: #404bbf;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--color-white);
    color: var(--third-color-text);
}


.header {
    background-color: var(--color-white);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
}

button {
    color: var(--iris);
    background-color: var(--fifth-color-text);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

}

a:active,
a:hover,
a:focus {
    color: var(--focus-color);
}

button:hover,
button:active,
button:focus {
    color: var(--color-white);
    background-color: var(--focus-color)
}

.logo {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: var(--iris);
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.studio-highlight {
    color: var(--fifth-color-text);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;

}

.section-button {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
}

.header-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--fourth-color-text);
}

.text-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-color-text);
    font-size: 16px;
}

.page-footer {
    background-color: var(--fourth-color-text);
    color: var(--color-white);
}

.address {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.studio-header {
    color: var(--fourth-color-text);
}

.index-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fourth-color-text);
}

.contact-link,
.header-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-color-text);
}

.footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fifth-color-text);
}

.section {
    background-color: var(--fourth-color-text);
}

.header-section {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
}

.button-header {
    background-color: var(--iris);
    color: var(--color-white);
}

.header-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--fourth-color-text);
}

.h-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--fourth-color-text);
}

.team {
    background-color: var(--fifth-color-text);
}

.team-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--fourth-color-text);
}

.team-list {
    background-color: var(--color-white);
}

.header-intro,
.header-portfolio {
    display: none;
}