*, ::after, ::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --first-color-text: #000;
    --second-color-text: #4285f4;
    --third-color-text: #434455;
    --fourth-color-text: #2e2f42;
    --fifth-color-text: #f4f4fd;
    --color-white: #ffffff;
    --iris: #4D5AE5;
    --focus-color: #404bbf;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--color-white);
    color: var(--third-color-text);
}


.header {
    background-color: var(--color-white);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
    display: flex;
    justify-content: space-between;
    margin: 30px 60px;
    height: 72px;
    align-items: center;
}

button {
    color: var(--iris);
    background-color: var(--fifth-color-text);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

a:active,
a:hover,
a:focus {
    color: var(--focus-color);
}

button:hover,
button:active,
button:focus {
    color: var(--color-white);
    background-color: var(--focus-color)
}

.logo {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: var(--iris);
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.studio-highlight {
    color: var(--fifth-color-text);
}

.list {
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0 100px;
    justify-content: space-between;
    gap: 50px;

}

.address-list {
    list-style: none;
    display: flex;
    margin: 0 10px;
    justify-content: center;
    gap: 50px;

}

.link {
    text-decoration: none;
}

.section-button {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
}

.header-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--fourth-color-text);

}

.text-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-color-text);
    font-size: 16px;
}

.page-footer {
    background-color: var(--fourth-color-text);
    color: var(--color-white);
    height: 312px;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fifth-color-text);
    padding: 18px 0 0 0;
}

.address {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    margin-left: auto;
    padding: 50px;
}

.studio-header {
    color: var(--fourth-color-text);
}

.index-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fourth-color-text);
    gap: 40px;
}

.contact-link,
.header-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-color-text);
    padding-top: 5px;
}

.first-section {
    background-color: var(--fourth-color-text);
    height: 600px;
    min-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section {
    display: flex;
    padding-top: 20px;
    align-items: center;
    min-width: 1128px;
    height: 104px;

}

.header-section {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
    display: flex;
    padding-top: 200px;
}

.button-header {
    background-color: var(--iris);
    color: var(--color-white);
    padding: 16px 32px;
    gap: 10px;
    width: 180px;
    height: 56px;
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 4px;
    margin-top: 50px;
}

.header-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--fourth-color-text);
    height: 24px;

}

.h-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--fourth-color-text);
    padding: 60px;
}

.team-list {
    height: 380px;
    min-width: 1128px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 36px;
    margin-top: 30px;

}

.team {
    background-color: var(--fifth-color-text);
    justify-content: center;
    height: 732px;
    min-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}

.team-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--fourth-color-text);
}

.team-member {
    background-color: var(--color-white);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    height: 380px;

}

.visually-hidden {
    display: none;
}

.tasks {
    height: 412px;
    min-width: 1128px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-top: 160px;
}

.task-list {
    height: 300px;
    gap: 26px;
    list-style: none;
    display: flex;
    margin: 0 10px;
    justify-content: center;
}

.container {
    min-width: 1158px;
    margin: 0 auto;
}

.feature {
    height: 104px;
    width: 264px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 100px;

}

.member-names {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 30px;

}

.task-img {
    border: 1px solid #E7E9FC;

}