*, ::after, ::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --first-color-text: #000;
    --second-color-text: #4285f4;
    --third-color-text: #434455;
    --fourth-color-text: #2e2f42;
    --fifth-color-text: #f4f4fd;
    --color-white: #ffffff;
    --iris: #4D5AE5;
    --focus-color: #404bbf;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--color-white);
    color: var(--third-color-text);
}

.header {
    background-color: var(--color-white);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
    display: flex;
    height: 72px;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container-default {
    min-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container-header {
    width: 1158px;
    margin: 0 auto;
    display: flex;
    padding: 0 15px;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-footer {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

button {
    color: var(--iris);
    background-color: var(--fifth-color-text);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
}

.button-header {
    background-color: var(--iris);
    color: var(--color-white);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 4px;
    margin: 50px auto 0;
    display: block;
    border: none;
}

.portfolio-button {
    background-color: #E7E9FC;
    color: var(--iris);
    padding: 12px 24px;
    height: 56px;
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 4px;
    margin: 50px auto;
    display: block;
    border: 1px solid #e7e9fc;
}

a:is(:active, :hover, :focus) {
    color: var(--focus-color);
}

button:is(:hover, :active, :focus) {
    color: var(--color-white);
    background-color: var(--focus-color);
    border: 1px solid transparent;
}

.portfolio-button:is(:hover, :focus) {
    color: var(--color-white);
    background-color: var(--focus-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.logo {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: var(--iris);
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.studio-highlight {
    color: var(--fifth-color-text);
}

.list {
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.menu-list {
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 40px;
}

.portfolio-menu-list {
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.address {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    margin-left: auto;

}

.address-list {
    list-style: none;
    display: flex;
    margin: 0 10px;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.link {
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;

}

.section-button {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
    padding-top: 96px;
    padding-bottom: 120px;
}

.header-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--fourth-color-text);
    height: 24px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.text-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-color-text);
    font-size: 16px;
}

.page-footer {
    background-color: var(--fourth-color-text);
    color: var(--color-white);
    height: 312px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fifth-color-text);
    max-width: 264px;
}

.studio-header {
    color: var(--fourth-color-text);
}

.index-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fourth-color-text);
    gap: 40px;
    display: flex;
    padding: 24px 0;
}

.contact-link,
.header-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-color-text);
}

.first-section {
    background-color: var(--fourth-color-text);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/office.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 188px 0;
    justify-content: center;
}

.second-section {
    padding: 120px 0;
}

.header-section {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
    display: flex;
    max-width: 496px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.h-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--fourth-color-text);
    margin-bottom: 72px;
}

.team-list {
    height: 380px;
    min-width: 1128px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 24px;
    margin-top: 30px;
    text-align: center;
}

.team {
    background-color: var(--fifth-color-text);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.team-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--fourth-color-text);
    margin-bottom: 72px;
}

.team-member {
    background-color: var(--color-white);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    height: 428px;
    text-align: center;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.tasks {
    padding-bottom: 120px;
}

.task-list {
    list-style: none;
    display: flex;
    margin: 0 10px;
    justify-content: center;
    gap: 24px;
}

.feature {
    width: calc((100% - 72px) / 4);
    display: flex;
    flex-direction: column;
}

.member-names {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 32px 0;
}

.task-img {
    display: block;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.app-items {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    text-align: left;
}

.apps {
    width: 360px;
}

.apps:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.icons {
    background: #f4f4fd;
    padding-block: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.icon-items {
    display: block;
    margin: auto;
}

.social-item {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
    padding-top: 8px;
}

.social-icons {
    display: block;
    fill: #f4f4fd;
    margin: auto;
    width: 40px;
    height: 40px;
    padding: 12px;
}

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-item {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customers-icons {
    margin: 16px 32px;
    fill: currentColor;
}

.social-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon-link:is(:hover, :focus) {
    background-color: #404bbf;
}

.customers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.clients-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
}

.clients-link:is(:hover, :focus) {
    border-color: #404bbf;
    color: #404bbf;
}

.footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer {
    display: flex;
    align-items: baseline;
}

.footer-social-icons-link {
    fill: #f4f4fd;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-icons-link:is(:hover, focus) {
    background-color: #31d0aa;
}

.footer-social-links {
    display: flex;
    gap: 16px;
    list-style: none;
}

.footer-social-icons {
    height: 40px;
}